html {
  height: 100%;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background: #70bg32;
 background-repeat:no-repeat;
 background: -webkit-linear-gradient( to left bottom, #8A2387, #E94057, #F27121);
 background: -moz-linear-gradient( to left bottom, #8A2387, #E94057, #F27121);
 background: -ms-linear-gradient( to left bottom, #8A2387, #E94057, #F27121);
 background: -o-linear-gradient( to left bottom, #8A2387, #E94057, #F27121);
 background: linear-gradient( to left bottom, #8A2387, #E94057, #F27121);
}
body {
  font-family: 'Share Tech Mono', monospace;
}

main {
  width: 80%;
  margin: 0px auto;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: 'Share Tech Mono', monospace;
}

p {
    color: #666;
    font-size: 15px;
    padding-left: 20px;
}

label {
  font-size: 20px;
}

form {
  text-align:center;
  width: 100%;
}

input {
  width: 250px;
  height: 60px;
  margin: 0px auto;
  border: 0;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #ccc;
}

input::placeholder {
  font-size: 20px;
  color: #e4e4e4;
  font-family: 'Share Tech Mono', monospace;
}

input[type="text"], [type="date"] {
  font-size: 20px;
  color: #e4e4e4;
  font-family: 'Share Tech Mono', monospace;
}

@-webkit-keyframes autofill {
    to {
        color: #e4e4e4;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

button[type=submit] {
  width: 10%;
  margin: 20px;
  height: 50px;
}

.tasksContainer {
  display: flex;
  flex-flow: row wrap;
}

.todoStyle {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  margin: 1rem;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

svg#id {
    margin-top: 10px;
    margin-right: 10px;
    color: red;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}

.loaderContainer {
  height: 100px;
  margin: 0px auto;
}

.loader {
  margin: 0px auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
